<body>

    <!--nav-->
    <nav>
      <ul class="nav-flex-row">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a href="/menu">Coffee Menu</a>
        </li>
        <li class="nav-item">
          <a href="/books">Read Books</a>
        </li>
        <li class="nav-item">
          <a href="/chat">Live Chat & Music</a>
        </li>
      </ul>
    
    </nav>

    <!--CSS file -->
        <style type="text/css" media="screen">
             @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100&display=swap');

             .jumbotron {
              background-color: rgb(216, 192, 146) !important;
              margin-bottom: 0 !important;
             }

             .gr_grid_book_container {
              /* customize book cover container div here */
              float: left;
              width: 200px;
              height: 200px;
              padding: 20px 30px;
              overflow: hidden;       
             }

              .gr_grid_container {
                height: 820px;
                background: url(img/bookshelf.png);
              }

              h1 {
                font-family: 'Big Shoulders Text', cursive;
                text-align: center;
                padding: 50px;
                text-transform: uppercase;
              }

              p {
                text-align: center;
                font-family: 'Big Shoulders Text', cursive;
                font-size: 1.5em;
              }
          </style>



<div class="jumbotron">
  <h1 class="display-4">Our bookshelf</h1>
  <p class="lead">Looking for a good book? Here are the best books our Quarantine Coffee staffs recommend you have on our shelf. </p>
  <hr class="my-4">
  <p>Sign in to Goodreads. continue read your eBooks! </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.goodreads.com/user/sign_in" role="button">Learn more</a>
  </p>
</div>

  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="1Q84" rel="nofollow" href="https://www.goodreads.com/book/show/10357575-1q84"><img alt="1Q84" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1483103331l/10357575._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Adventures of Sherlock Holmes" rel="nofollow" href="https://www.goodreads.com/book/show/3590.The_Adventures_of_Sherlock_Holmes"><img alt="The Adventures of Sherlock Holmes" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1164045516l/3590._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Alchemist" rel="nofollow" href="https://www.goodreads.com/book/show/18144590-the-alchemist"><img alt="The Alchemist" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1466865542l/18144590._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Atlas Shrugged" rel="nofollow" href="https://www.goodreads.com/book/show/662.Atlas_Shrugged"><img alt="Atlas Shrugged" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1405868167l/662._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Charming the Prince (Once Upon A Time, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/450924.Charming_the_Prince"><img alt="Charming the Prince" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1429367716l/450924._SY160_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Complete Chronicles of Conan" rel="nofollow" href="https://www.goodreads.com/book/show/828878.The_Complete_Chronicles_of_Conan"><img alt="The Complete Chronicles of Conan" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431298282l/828878._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Cormoran strike series robert galbraith 4 books collection set" rel="nofollow" href="https://www.goodreads.com/book/show/42744560-cormoran-strike-series-robert-galbraith-4-books-collection-set"><img alt="Cormoran strike series robert galbraith 4 books collection set" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541856179l/42744560._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Count of Monte Cristo" rel="nofollow" href="https://www.goodreads.com/book/show/7126.The_Count_of_Monte_Cristo"><img alt="The Count of Monte Cristo" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1309203605l/7126._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Dead Wake: The Last Crossing of the Lusitania" rel="nofollow" href="https://www.goodreads.com/book/show/22551730-dead-wake"><img alt="Dead Wake: The Last Crossing of the Lusitania" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1408923747l/22551730._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="A Game of Thrones (A Song of Ice and Fire, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/13496.A_Game_of_Thrones"><img alt="A Game of Thrones" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1562726234l/13496._SY160_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Girl with the Dragon Tattoo (Millennium, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/2429135.The_Girl_with_the_Dragon_Tattoo"><img alt="The Girl with the Dragon Tattoo" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327868566l/2429135._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch" rel="nofollow" href="https://www.goodreads.com/book/show/12067.Good_Omens"><img alt="Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1392528568l/12067._SY160_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Immortal Life of Henrietta Lacks" rel="nofollow" href="https://www.goodreads.com/book/show/6493208-the-immortal-life-of-henrietta-lacks"><img alt="The Immortal Life of Henrietta Lacks" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327878144l/6493208._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Long Dark Tea-Time of the Soul (Dirk Gently, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/357.The_Long_Dark_Tea_Time_of_the_Soul"><img alt="The Long Dark Tea-Time of the Soul" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388257271l/357._SY160_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Night Circus" rel="nofollow" href="https://www.goodreads.com/book/show/9361589-the-night-circus"><img alt="The Night Circus" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387124618l/9361589._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Odd Thomas (Odd Thomas, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/14995.Odd_Thomas"><img alt="Odd Thomas" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388245669l/14995._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="On Entering the Sea: The Erotic and Other Poetry of Nizar Qabbani" rel="nofollow" href="https://www.goodreads.com/book/show/423761.On_Entering_the_Sea"><img alt="On Entering the Sea: The Erotic and Other Poetry of Nizar Qabbani" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1174613519l/423761.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Outliers: The Story of Success" rel="nofollow" href="https://www.goodreads.com/book/show/3228917-outliers"><img alt="Outliers: The Story of Success" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1344266315l/3228917._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Shantaram" rel="nofollow" href="https://www.goodreads.com/book/show/33600.Shantaram"><img alt="Shantaram" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333482282l/33600._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Snow Crash" rel="nofollow" href="https://www.goodreads.com/book/show/830.Snow_Crash"><img alt="Snow Crash" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1477624625l/830._SX98_.jpg" /></a></div>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
      <div class="row">

      <div class="col-md-12 py-2">
        <div class="mb-5 flex-center">

          <a class="github-ic" href="https://github.com/QuarantineNightOwls/Project2.git">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>

  </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      Somin Kang, Joseph Shaprio, Krista Clarke, and Kanyarut (Ben) Pornamnuay
    </div>
  
  </footer>
  <!-- Footer -->


      <!-- Bootstap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap" rel="stylesheet">
    </body>