<div class="container">
  <div class="jumbotron mt-4" style="background-color: rgba(126, 62, 26, 0.529);">
    <h1 class="display-4 text-center"><span><i class="fa fa-times" aria-hidden="true" style="color:red"></i></span>Email does not exits !! Please try again..
      
    </h1>
    <a href="/signin">â† Back To Home</a>
  </div>
</div>
