<body class="register">
  
    <nav>
      <ul class="nav-flex-row">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a href="/menu">Coffee Menu</a>
        </li>
        <li class="nav-item">
          <a href="/books">Read Books</a>
        </li>
        <li class="nav-item">
          <a href="/chat">Live Chat & Music</a>
        </li>
      </ul>
    </nav>
   <br>
  <div class="coffeePic">
  <img src="/img/coffee1.png">
  </div>
 <div id="logreg-forms" style="text-align: center; background-color:rgba(255, 255, 255, 0.913);">
        <form class="form-signin" action="/controllers/register-controller" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Create an Account</h1>

            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="" autofocus="">
            </div>
          <br>
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>
          <br>
            <div class="input-group">
              <input type="password" name="password" class="form-control" placeholder="Password" required="">
            </div>
          <br>
            <div class="input-group">
              <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit" value="Submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
            </div>

            <hr>
            <!-- <p>Don't have an account!</p>  -->
           
              <a class="btn btn-primary btn-lg"  href="/signin" role="button"><i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size:20px;"></i>  Go Back To Sign In</a>
      
            </form>
            
</div>

<!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
      <div class="row">

      <div class="col-md-12 py-2">
        <div class="mb-5 flex-center">

          <a class="github-ic" href="https://github.com/QuarantineNightOwls/Project2.git">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>

  </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      Somin Kang, Joseph Shaprio, Krista Clarke, and Kanyarut (Ben) Pornamnuay
    </div>
  
  </footer>
  <!-- Footer -->
</body>