<div class="container">
  <div class="jumbotron mt-4" style="background-color: rgba(126, 62, 26, 0.529);">
    <div class="icon" style="text-align: center;">
    <h1><i class="fa fa-check-circle-o" aria-hidden="true" style="color:green; text-align:center; font-size:100px;"></i></h1>
    </div>
    <br>
    <h1 class="display-4 text-center">Registration form has been created successfully</h1>
    <button type="button" class="btn btn-success"><a href="/chat">Go to Live Chat</a></button>
  </div>
</div>